.caracteres-container {
  background-color: #eee;
  height: 100vh;
  padding: 0 20px;

  .search-container {
    width: 101.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;

    button {
      height: 60px;
      border: 0px;
      background-color: #fff;
      font-size: 1.2rem;
      color: #ed1d24;
      padding: 15px 20px;
      border-radius: 5px;
      line-height: 40px;
      margin-top: 20px;
    }

    .search {
      width: 70%;
      border: 20px;
      height: 40px;
      padding: 30px 20px;
      border-radius: 5px;
      background-color: #fff;
      margin: 20px 0px 20px 20px;
      font-size: 1.2rem;
      color: #ed1d24;
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

    @media only screen and (max-width: 700px) {
      grid-template-columns: repeat(1, minmax(150px, 1fr));
    }

    grid-gap: 20px;

    li {
      background-color: #fff;
      list-style: none;
      width: 100%;
      height: 100px;
      margin-top: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding: 0;
      margin-left: 5px;
      cursor: pointer;

      .border-image {
        display: flex;
        justify-content: center;
        justify-items: center;

        background-color: #dcd6d6;
        border-radius: 5px;
        // margin: 10px;
        transform: rotate(-5deg);
        transform-origin: center;
        width: 110px;
        height: 110px;
        margin-top: -5px;
        margin-left: -10px;
        margin-right: 20px;
        animation: changeColor 5s ease-in-out infinite;

        img {
          width: 110px;
          height: 110px;
          max-width: 90px;
          max-height: 90px;
          object-fit: cover;
          border-radius: 5px;
          margin: 10px;
          transform: rotate(5deg);
          transform-origin: center;
        }

        img:hover {
          transform: scale(1.2) rotate(5deg);
        }
      }

      .name {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;

        font-size: 2rem;
        color: #ed1d24;
        font-weight: bold;
        letter-spacing: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        white-space: normal;

        @media only screen and (max-width: 400px) {
          font-size: 1.2rem;
          white-space: normal;
        }
      }
    }
  }

  .empty, .wait{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: calc(100% - 100px);
    font-size: 2rem;
    color: #ed1d24;

  }
}

@keyframes changeColor {
  0% {
    background-color: #faa0a3;
  }
  50% {
    background-color: #ed1d24;
  }
  100% {
    background-color: #faa0a3;
  }
}
